.semgrepignore
.DS_Store
**.terraform
**.terraform.lock.hcl
**.data_collection_lambda_compliance.zip
terraform.tfplan
data_collection_lambda_compliance.zip
terraform.tfstate
terraform.tfstate.backup
.scannerwork/
temp/

# created by cid-cmd when deploying the dashboard
cid.log

# Support development of features
pre-processing/payload-files/